<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TopicosU2_Gabinete.Properties.Settings.AbogadosConnectionString"
            connectionString="Data Source=DESKTOP-11M8QL9;Initial Catalog=Abogados;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>